.navbar{
    box-shadow: 5px 5px 5px #303f9f;
    padding: 11px;
    background-color: lightblue;
    /* border-color: #303f9f; */
}

a{
    color: #303f9f;
    padding: 20px;
}

span{
    color: silver;
}