<h1>{{title}}</h1>
<hr/>
<!-- <app-greet></app-greet> -->
<!-- <app-bindings></app-bindings> -->
<div class="navbar">
    <a routerLink="/greet">Home</a>
    <span> | </span>
    <a routerLink="/bindings">User List</a>
    <span> | </span>
    <a routerLink="/toggle">Conditional Output</a>
    <span> | </span>
    <a routerLink="/pipes">Formatters</a>
    <span> | </span>
    <a routerLink="/fbService">Service</a>
    <span> | </span>
    <a routerLink="/http">Http Service</a>
</div>
<hr/>


<router-outlet></router-outlet>